.first-component {
    background-color: rgb(241, 219, 184);
  /*  display : flex;
    flex-direction: column;
    align-items: flex-start;*/
}

.first-component .first-component-text {
    margin-top: 15rem;
    color: rgb(0, 0, 0);
    margin-left: 15rem;
    font-family: sans-serif;
    
  }

.first-component-text>h1{
    font-weight: 600;
    color: #724e10;
}

.first-component-text>h4{
  font-weight: 500;
  color: #724e10;
}

.first-component-text button {
  margin-top: 2rem;
  background-color: #724e10;
  color: aliceblue;
  
}

.first-component--inside-scroller {
    position: absolute;
    right: 20px;
    top: 100px;
}
