.fourth-component .bg-img {
  position: absolute;
  top: 0%;
  right: 0%;
  /* z-index: -1; */
  width: 100%;
  height: 100%;
}

.component.fourth-component{
  /* background-image : url('../../src/img/BGimg.png'); */
  flex-direction: column;

}

.fourth-container{
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-content:center; /* 왜아무반응없지 */
  margin: 50px auto;
}

.fourth-box.container{
  display: flex;
  justify-content: center;
  z-index: 100 !important;
}

.fourth-box-content.only{
  display:table;   /* 가운데정렬 힘드네,,, */
}

.only-text {
  display: table-cell; /* 가운데정렬 힘드네,,, */
  vertical-align: middle; /* 가운데정렬 힘드네,,, */
  z-index: 40 !important;
}

.fourth-box-content.only h1{
  color:#5C411D;
  font-weight: bold;
}

.fourth-box-content.only h5{
  color:#5C411D;
}

.fourth-box-content.only img{
  margin-top:10%;
  padding-bottom:5%;
}