.goal-col {
    width: 80%!important;
    flex-wrap: nowrap!important;
    border-top: 1.8px solid #80612D;
    border-bottom: 1.8px solid #80612D;
    float: left;
    margin: 0 auto;
    padding: 1.6%;
}
.goal-col>div{
    margin: 0 3% 0 3%;
    border: 4px solid#F0C379;
    padding: 20px;
}
.goal-num {
    color: #5D4215;
    font-weight: bold;
    font-size: 1.7em;
}
.goal-dropImg {
    margin-top: 18px;
    margin-right: 12px;
    font-size: 25px;
    color: #5D4215;
}
.goal-goal {
    color: #5C411D;
    font-weight: bold;
    font-size: 1.7em;
}
.goal-date {
    color: #7E602D;
    font-size: 1.1em;
}
ul {
	list-style: none;
    display: inline-block;
    margin-top: 10px;
}
ul li {
    float:left;
    margin-left: 9px;
}
ul li a {
    float: left;
    padding: 5px;
    width: 36px;
    height: 34px;
	color:#5C411D;
    border:1px solid#5C411D;
    border-radius: 5px;
    text-align:center;
    margin-top: 28px;
}
ul li a:hover, ul li a:focus {
	color:#fff;
    border: 2px solid #5C411D;
    border-radius: 5px;
	background-color: #5C411D;
}
.goal-post{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 280px;
    cursor: pointer;
}
.goal-post:hover{
    background-color:#FFE5B2;
}
.goal-post>a{
    position: absolute;
    right: 0;
    top: 0;
}
.menu-button {
    background-color: #FFE5B2;
    width: 90px;
    margin-left: 50px;
    z-index: 1;
}
.goal-setG {
    background-color: white;
    border: 3px solid#5C411D;
    border-radius: 30px;
    width: 189px;
    height: 55px;
    font-size: 1.3em;
    float: right;
    margin-right: 175px;
    margin-top: -54px;
    cursor: pointer;
}
.goal-setG:hover{
    background-color: #5C411D;
    color: #FFE5B2;
}
.goal-setG:active{
    outline: none!important;
}
.pagination-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.click-event-con{
    width: 100%;
    height: 100%;
}
.goal-event-con{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}