.mainTitle {
    text-align: center;
    color: #5C411D;
    font-weight: bold;
    font-size: 2em;
    margin-top: -5px;
}
.sub {
    border: 2px solid #E9BE78;
    border-radius: 15px;
    width: 350px;
    height: 30px;
    margin:0 auto; 
}
.subSub {
    color: #5C411D;
    font-weight: bold;
    margin-top: 2.5px;
}
.name {
    color: #5C411D;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 28px;
    margin-left: 24px;
    float: left;
}
.ilmada {
    color: #5C411D;
    font-weight: bold;
    font-size: 1.3em;
}
.graphname {
    color: #5C411D;
    font-weight: bold;
    font-size: 1.2em;
}
.graphdesc {
    color: #000000;
    font-weight: bold;
    font-size: 1.0em;
}
.open {
    color: #5C411D;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 28px;
    margin-left: 24px;
    float: center;
}
.btn1 {
    width: 220px;
    height: 35px;
    margin-left: 18.5%;
    margin-top: 10px;
    border-radius: 12px;
    border: 1;
    background-color: #f5dfbb;
    color: #000000;
    border-color: #000000;
}
.btn2 {
    width: 220px;
    height: 35px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1;
    background-color: #FFFFFF;
    color: #000000;
    border-color: #000000;
}
.font {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}
