.mainTitle {
    text-align: center;
    color: #5C411D;
    font-weight: bold;
}
.sub {
    border: 1.7px solid #E9BE78;
    border-radius: 15px;
    width: 350px;
    height: 30px;
    margin:0 auto; 
}
.subSub {
    color: #5C411D;
    font-weight: bold;
    margin-top: 2.5px;
}
.body {
    border-top: 1.7px solid #656563;
    border-bottom: 1.7px solid #656563;
    margin-top: 50px;
    margin-left: 15%;
    width: 900px;
    height: 300px;
}
.content1 {
    border: 1.3px solid #606060;
    width: 230px;
    height: 230px;
    margin-left: 60px;
    background-color: #f0f0f0;
}
.content2 {
    border: 1.3px solid #606060;
    width: 230px;
    height: 230px;
    margin-left: 45px;
    background-color: #f0f0f0;
}
.content3 {
    border: 1.3px solid #606060;
    width: 230px;
    height: 230px;
    margin-left: 45px;
    background-color: #f0f0f0;
}
.name {
    color: #5C411D;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}
.graph {
    margin-top: -20px;
}
.title {
    color: #5C411D;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
}
.date {
    color: #7E602D;
    margin-top: -20px;
    margin-left: 30px;
    float: left;
}