.hashtag-page-title-con{
    margin:15px 0;
}
.hashtag-page-title-con div{
    text-align: center;
}
.hashtag-page-title-con div>*{
    color: #5C411D;
}
.hashtag-page-title>h2{
    font-weight: 600;
}
.page-subtitle>h5{
    margin: 0;
    border-radius: 15px;
    border: 1px solid #CFA051;
    padding: 2px 20px;
    display: inline-block;
}
.hash-top {
    width: 340px;
    height: 50px;
    border: 2px solid var(--unnamed-color-f0c379);
    border: 2px solid #F0C379;
    opacity: 1;
    margin: 0 auto;
}
.hash-icon {
    float: left;
    color: #5D4215;
    font-size: 32px;
    margin-left: 9px;
    margin-top: 6px;
}
.hash-input {
    width: 220px;
    height: 36px;
    margin-top: 5px;
    margin-left: 5px;
    border-left: 2px solid #F0C379;
    outline: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}
.hash-submit {
    width: 65px;
    height: 49px;
    float: right;
    margin-top: -1px;
    border: 0;
    background-color: #F0C379;
    color: #5D4215;
    font-size: 18px;
    font-weight: normal;
}
.hash-body {
    border-top: 2px solid #656563;
    border-bottom: 2px solid #656563;
    width: 68%;
    margin: 0 auto;
}
.hash-cont {
    border: 1.3px solid #606060;
    width: 28%;
    height: 30%;
    margin-left: 42px;
    margin-top: 38px;
    margin-bottom: 38px;
    background-color: #f0f0f0;
}
.hash-userName {
    color: #5C411D;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 28px;
    margin-left: 24px;
    float: left;
}
.hash-graph {
    margin-top: 3px;
}
.hash-goal {
    color: #5C411D;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 60px;
    margin-left: 24px;
    float: left;
}
.hash-date {
    color: #7E602D;
    font-size: 1.1em;
    /*margin-top: -18px;*/
    margin-left: 24px;
    float: left;
}
ul {
	list-style: none;
    display: inline-block;
    margin-left: 37.5%;
}
ul li {
    float:left;
    margin-left: 9px;
}
ul li a {
    float: left;
    padding: 5px;
    width: 36px;
    height: 34px;
	color:#5C411D;
    border:1px solid#5C411D;
    border-radius: 5px;
    text-align:center;
    margin-top: -12px;
}
ul li a:hover, ul li a:focus {
	color:#fff;
    border: 2px solid #5C411D;
    border-radius: 5px;
	background-color: #5C411D;
}