/* .navigation-bar{
    height: 50px;
} */

.second-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 10px;
    background-color: #FDF0D7;
    list-style-type: none;
    box-shadow: 0px 5px 5px rgb(180, 180, 180);
}



.second-links .link {
    cursor: pointer;
}

.link img {
    width: 150px;
    height: 53px;
    margin-left: 10rem;
    margin-top: 1.1rem;
    padding: 0.2rem;
}

.second-links .icon{
    display: inline-flex;
    margin-left: auto;
    padding-right: 10rem;
    margin-top: 1.5rem;
}
.icon .link {
    padding : 0.5rem;
    color: rgb(0,0, 0);
}

