/* .navigation-bar{
    height: 50px;
} */

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
}



.links .link {
    cursor: pointer;
}

.link img {
    width: 150px;
    height: 53px;
    margin-left: 10rem;
    margin-top: 1.1rem;
    padding: 0.2rem;
}

.links .icon{
    display: inline-flex;
    margin-left: auto;
    padding-right: 10rem;
    margin-top: 1.5rem;
}
.icon .link {
    padding : 0.5rem;
    color: rgb(0,0, 0);
}

