 .third-component{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.third-component .bg-img {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

.components {
    height: 100%;
    width: 100%;
}

.third-component-text{
    margin-top: 1rem;
}

.slider {
    margin: 0 auto;
    padding: 0px 40px 40px 40px;
    margin-top: 2.5rem;
    width: 80%;
}
 .card-container .card-container-box{
      background: white;
      color: black;
      font-size: 18px;
      line-height: 100px;
      margin: 15px;
      /* padding: 5%; */
      position: relative;
      text-align: center;
      opacity: 0.8;
  }

  
.card-container-box .third-name{
    line-height: 120px;
    background: var(--unnamed-color-ffe5b2) 0% 0% no-repeat padding-box;
    background: #FFE5B2 0% 0% no-repeat padding-box;
    opacity: 0.7;
}

  .slick-next:before, .slick-prev:before {
      color: #000;
  }
  .center .slick-center .card-container-box {
      opacity: 1;
      -ms-transform: scale(1.08);
      transform: scale(1.08);
  }

  .center .slick-center .card-container-box .third-name{
    line-height: 130px;
    opacity: 1;
    background: var(--unnamed-color-5d4215) 0% 0% no-repeat padding-box;
    background: #5D4215 0% 0% no-repeat padding-box;
    color : white;
    font-size: x-large;
}


  .center .card-container-box {
      transition: all .3s ease;
  }


 .card-container-box .module-graph, .module-graph canvas{
    width: 100%!important;
    height: 300px !important;
}

