#contents>.ant-col{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.graph-con{
    display: flex;
    flex-direction: column;
}
.select-date-con{
    margin-bottom: 10px;
    display: flex;
    z-index:1;
    width: 30%;
}
.graph-con>.ant-tabs{
    transform: translate(0px, -50px);
}
.date-title{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.date-title>p{
    margin: 0;
}
.date-title>span{
    margin-right: 5px;
}
.date-title svg{
    font-size:22px;
}

.select-graph-con{
    display: flex;
}
