<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.backend.mapper.dailyMapper">

	<insert id="newDaily" parameterType="DailyVO">
		insert into daily values(#{dailyid},#{userid},#{goalid},#{target},#{todayDate},#{whatIdone},#{done},#{hashtags})
	
	</insert>
	
	<select id="newDailyId" resultType="Integer">
		select newdaily from newid
	</select>
	
	<update id="updateNewId" parameterType="Integer">
		update newid set newdaily = #{newdaily}
	</update>
    
</mapper>